<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>showDepartments</servlet-name>
    <servlet-class>controllers.ShowDepartments</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>showDepartments</servlet-name>
    <url-pattern>/showDepartments</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>addDepartments</servlet-name>
    <servlet-class>controllers.AddDepartments</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>addDepartments</servlet-name>
    <url-pattern>/addDepartment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteDepartments</servlet-name>
    <servlet-class>controllers.DeleteDepartments</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>deleteDepartments</servlet-name>
    <url-pattern>/deleteDepartments</url-pattern>
  </servlet-mapping>
  
</web-app>